{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<h3 class="text-center">{% trans "Set Password" %}</h3>

<div class=change-password-wrapper>


    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}


        <div class="group">

            <span class="form-validation-error"> {{ form.non_field_errors }}</span>
            <div class="group ">
                {{form.password1}}
                <span class="from-validation-error">{{form.password1.errors}}</span>


            </div>

        </div>
        <div class="group">

            <span class="form-validation-error"> {{ form.non_field_errors }}</span>
            <div class="group ">
                {{form.password2}}
                <span class="from-validation-error">{{form.password2.errors}}</span>


            </div>

        </div>

        <div class="d-flex flex-column justify-content-between align-items-center">
            <button class="primaryAction submit-btn" type="submit">{% trans "SET PASSWORD" %}</button>

        </div>
    </form>



</div>

{% endblock %}